package pages

import "github.com/kayden-vs/zaraba/internal/models"
import "github.com/kayden-vs/zaraba/ui/html"

templ AccountPage(user *models.User, flash string, csrfToken string){
    @html.Base("Account", flash, true, csrfToken, accountContent(user))
}

templ accountContent(user *models.User) {
    <div class="account-container">
        <div class="account-header">
            <h2>Your Account</h2>
        </div>

        <div class="account-card">
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{ user.Name }</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{ user.Email }</td>
                    </tr>
                    <tr>
                        <th>Member Since</th>
                        <td>{ user.Created.Format("January 2, 2006") }</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="account-actions">
            <a href="/account/password/update" class="btn btn-primary">Change Password</a>
        </div>
    </div>
}