package pages

import "github.com/kayden-vs/zaraba/ui/html"
import "strings"
import "fmt"

type CoinMarketProps struct {
	ID        string  `json:"id"`
	Symbol    string  `json:"symbol"`
	Name      string  `json:"name"`
	Price     float64 `json:"current_price"`
	Volume    float64 `json:"total_volume"`
	Change24h float64 `json:"price_change_percentage_24h"`
}

templ MarketsPage(symbols []CoinMarketProps, flash string, isAuthenticated bool, csrfToken string) {
    @html.Base("Markets", flash, isAuthenticated, csrfToken, MarketsBody(symbols))
}

templ MarketsBody(symbols []CoinMarketProps) {
    if symbols != nil {
        <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>24h Change</th>
            <th>Volume</th>
        </tr>
        for _,symbol := range symbols{
        <tr>
            <td><a href={"/trade/" + strings.ToLower(symbol.ID)}>{symbol.Name}</a></td>
            <td>{ symbol.Price }</td>
            <td>{ symbol.Change24h }</td>
            <td>{ FormatNumberShort(symbol.Volume)}</td>
        </tr>
        }
        </table>
    }else{
        <p>Theres nothing to see here... yet!</p>
    }
}

func FormatNumberShort(n float64) string {
	switch {
	case n >= 1e12:
		return fmt.Sprintf("%.2fT", n/1e12)
	case n >= 1e9:
		return fmt.Sprintf("%.2fB", n/1e9)
	case n >= 1e6:
		return fmt.Sprintf("%.2fM", n/1e6)
	case n >= 1e3:
		return fmt.Sprintf("%.2fK", n/1e3)
	default:
		return fmt.Sprintf("%.2f", n)
	}
}
