package pages

import "github.com/kayden-vs/zaraba/ui/html"

type PasswordFormParams struct{
    CurrentPassword string
    NewPassword string
    ConfirmPassword string
    FieldErrors map[string]string
    CSRFToken string
}

templ PasswordPage(props PasswordFormParams, isAuthenticated bool){
    @html.Base("Change Password", "", isAuthenticated ,props.CSRFToken, Password(props))
}

templ Password(form PasswordFormParams ) {
	<h2>Change Password</h2>
	<form action="/account/password/update" method="POST" novalidate>
		<input type="hidden" name="csrf_token" value={ form.CSRFToken }/>
		<div>
			<label>Current password:</label>
			if err, ok := form.FieldErrors["currentPassword"]; ok {
				<label class="error">{ err }</label>
			}
			<input type="password" name="currentPassword" value={ form.CurrentPassword }/>
		</div>
		<div>
			<label>New password:</label>
			if err, ok := form.FieldErrors["newPassword"]; ok {
				<label class="error">{ err }</label>
			}
			<input type="password" name="newPassword" value={ form.NewPassword }/>
		</div>
		<div>
			<label>Confirm new password:</label>
			if err, ok := form.FieldErrors["confirmPassword"]; ok {
				<label class="error">{ err }</label>
			}
			<input type="password" name="newPasswordConfirmation" value={ form.ConfirmPassword }/>
		</div>
		<div>
			<input type="submit" value="Change password"/>
		</div>
	</form>
}